$primary: #0B0E2B;
$primary2: rgb(98, 47, 143); 
$light-purple: #DCD6E8;

$bg-color1: darken($primary2, 5%);
// $bg-color1: #070b29;
$bg-color2: darken($light-purple, 40%);
// $bg-color2: #070c33;
$secondary: rgb(255, 145, 0);
// $secondary: #17aac9;

$white: #fff;
$gray :#ccc;
$black :#000;